extends ../layout

block content
	.container(style="padding-bottom:50px")
		.row
			form.form-horizontal(method="post",action="/admin/movie/save",enctype="multipart/form-data")
				.form-group
					span 因为豆瓣高级API很难获取,是通过连续爬取两个网页来获取;大概需要10秒,请稍等
				.form-group
					label.col-sm-2.control-label 豆瓣API
					.col-sm-5
						input#douban.form-control(type="text",placeholder="失去焦点后;十秒后再点提交按钮")
				if movie._id
					input(type="hidden",name="movie[_id]",value=movie._id)
				.form-group
					label.col-sm-2.control-label(for="inputCategory") 电影分类
					.col-sm-5
						input#inputCategory.form-control(type="text",name="movie[categoryName]",value=movie.categoryName)
				.form-group
					label.col-sm-2.control-label 分类选择
					#genres.col-sm-5
						each cate in categories
							label.radio-inline
								if movie._id 
									input(type="radio",name="movie[category]",value=cate._id,checked=cate._id.toString()==movie.category.toString()) 
									| #{cate.name}
								else
									input(type="radio",name="movie[category]",value=cate._id) 
									| #{cate.name}

 
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-5
						input#inputTitle.form-control(type="text",name="movie[title]",value=movie.title)
 
				.form-group
					label.col-sm-2.control-label(for="inputDoctor") 导演
					.col-sm-5
						input#inputDoctor.form-control(type="text",name="movie[doctor]",value=movie.doctor)
 
				.form-group
					label.col-sm-2.control-label(for="inputCountry") 国家
					.col-sm-5
						input#inputCountry.form-control(type="text",name="movie[country]",value=movie.country)

				.form-group
					label.col-sm-2.control-label(for="inputPoster") 海报地址
					.col-sm-5
						input#inputPoster.form-control(type="text",name="movie[poster]",value=movie.poster)
				.form-group
					label.col-sm-2.control-label(for="uploadPoster") 海报上传(本地图片海报)
					.col-sm-5
						input#uploadPoster(type="file",name="uploadPoster")
 
				.form-group
					label.col-sm-2.control-label(for="inputFlash") 片源地址
					.col-sm-5
						input#inputFlash.form-control(type="text",name="movie[flash]",value=movie.flash,placeholder="正在获取视频地址,请稍等")
 
				.form-group
					label.col-sm-2.control-label(for="inputYear") 上映年份
					.col-sm-5
						input#inputYear.form-control(type="text",name="movie[year]",value=movie.year)

				.form-group
					label.col-sm-2.control-label(for="inputSummary") 简介
					.col-sm-5
						input#inputSummary.form-control(type="text",name="movie[summary]",value=movie.summary)
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type="submit") 录入

	script(src="/js/douban.js")
